
.top-banner {
    padding: 3em;
}

.top-banner h2 {
    font-size: 3em;
    color: #273d57;
    font-family: 'Bebas Neue', sans-serif;
}

.portfolio_section {
    height: auto;
    background-color: #273d57;
    padding: 1em;
}

.square_layout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 4em;
    margin: 5em;
}

/* Media Queries */

/* Mobile */
@media only screen and (max-width: 400px) {
    .top-banner {
        padding: 2em;
    }

    .top-banner h2 {
        font-size: 1.5em;
    }
}