@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kite+One&display=swap');

/* Background, border, and universal css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kite One', sans-serif;
    font-size: 100%;
    background-color: #fff7ec;
}

.yellow_border {
    height: auto;
    width: auto;
    border: 10px solid #e8ac66;
    margin: 1.25em;
}

.current-menu {
    text-decoration: underline #fff7ec;
}

/* Header and Navigation Bar */
 header {
    height: 4.31em;
    background-color: #273d57;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff7ec;
    padding: 4em;
 }

 .title {
    font-size: 2em;
    font-family: 'Bebas Neue', sans-serif;
 }

header ul {
    display: flex;
    gap: 1em;
    list-style-type: none;
    font-size: 1em;
}

header a {
    text-decoration: none;
}

header a:visited {
    color: #fff7ec;
}

/* About Section */
.about {
    color: #273d57;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about div {
    padding-left: 4em;
}

.about h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5em;
    padding-bottom: .625em;
}

.about p {
    font-size: 2em;
    padding-bottom: .67em;
}

.button_about {
    background-color: #e8ac66;
    border: none;
    color: #273d57;
    width: 11.62em;
    height: 2.37em;
    padding-bottom: .625em;
    font-family: 'Kite One', sans-serif;
    padding: 0.0625em;
    border-radius: 0.37em;
}

.about img {
    width: 30em;
    height: 30em;
}

/* Portfolio Section */

.portfolio {
    height: 42em;
    background-color: #273d57;
    padding: 3em;
}

.portfolio h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
    color: #fff7ec;
}

.square {
    background-color: #fff7ec;
    height: 13.93em;
    width: 12.56em;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 4em;
    margin-top: 3em;
}

.portfolio p {
    color: #fff7ec;
    font-size: 1.17em;
    margin-top: 4em;
}

.button_portfolio {
    background-color: #e8ac66;
    width: 11.62em;
    height: 2.37em;
    padding: 0.0625em;
    border-radius: 0.37em;
    border: none;
    font-family: 'Kite One', sans-serif;
    margin-top: 3em;
}

/* Contact Section */

.contact {
    padding: 3em;
}

.contact div {
    display: flex;
    justify-content: space-between;
}

.contact h2 {
    color: #273d57;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
}

.contact p {
    font-size: 1.17em;
    color: #273d57;
    margin-bottom: 2.5em;
}
.contact-block {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contact-block a {
    text-decoration: underline #e8ac66;
    color: #273d57;
    font-size: 1em;
}

/* Footer */

footer {
    height: 4.31em;
    background-color: #273d57;
    color: #fff7ec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

footer img {
    width: 5em;
    height: 5em;
}

footer ul {
    font-size: 1em;
    display: flex;
    gap: 1em;
    list-style-type: none;
}

footer a {
    text-decoration: none;
}

footer a:visited {
    color: #fff7ec;
}